$color-light: #b4aee5;
$body-font: "cyrillic", sans-serif;
$header-font: "Open Sans", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: #121528;
}

header {
    h2 {
    color: $color-light;
    }
}

.site-footer {
    background-image: linear-gradient(#000000, rgb(0, 0, 0));
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to right, #2e1a2e, #202338, #303052);
    color: rgb(255, 255, 255);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #020003;
    padding: 20px 12px;
    font-size: 17px;
}

.tab-content {
    border: 1px solid text white;
    border-top: none;
    padding: 50px;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #66477d;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }

#reserveModal .modal-header {
    background-color: #000000;
    color: white; }

    #loginModal .modal-header {
    background-color: #000000;
    color: white; }
